@charset "UTF-8";
/*css document*/

/* Universal styles */
html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: hsl(0, 0%, 95%);
}

h1, h2, h3, h4, p, a, span {
  opacity: .7;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}


/* header */
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  background-color: white;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.logo img {
  height: 2rem;
}

.logo {
  font-size: 1.5rem;
  height: 2rem;
  display: flex;
  align-items: center;

}

.bold {
  padding-right: 0.2rem;
  font-weight: bold;
}

.info a {
  padding-left: 1rem;
}

@media only screen and (min-width: 760px) {
  .mobile-menu {
    display: none;
  }
}

@media only screen and (max-width: 760px) {

 .logo,
 .info {
   display: none;
 }

 .mobile-menu {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   height: 4rem;
 }
}

/* Body Container */

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1.5rem;
  background-color: lightgrey;
}

.banner img {
  width: 60%;
  padding-right: 1.5rem;
}

.learn-something {
  padding: 1.5rem;
  width: 60%;
}

.learn-something .learn {
  margin: 1.5rem;
}

.learn-something a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 30%);
  padding: .7rem;
  color: white;
}

@media only screen and (max-width: 760px) {

  .banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
  }

  .banner img {
    width: 100%;
    padding: 0;

  }

  .learn-something {
    width: 100%;
    padding: 0;
  }

  .learn-something .learn {
    margin: 2rem 1rem;
  }

  .learn-something h3.learn {
    margin-bottom: 1.5rem;
  }

  .learn-something a.learn {
    background-color: hsl(0, 0%, 50%);
  }

}


/* Main Content */

/* Keep Practicing */

.middle1 {
  display: flex;
  justify-content:flex-start;
  align-items:flex-start;
}

.keep-practicing {
  padding: 2rem 1.5rem;
  width: 60%;
  border-right: solid #d9d9d9 1px;
}

.keep-practicing img {
  width:100%;
}

.keep-practicing h1 {
  padding-top: 2rem;
}

.keep-practicing h4 {
  padding-top: 1.5rem;
}

.keep-practicing p {
  margin: 2rem 0rem;
}

.campus-info {
  width: 40%;
  margin-top: 2rem ;
}

.side {
  padding:1rem;
  border-bottom: solid #d9d9d9 3px ;
  display: flex;

}

.side img {
  height: 35%;
  width: 35%;

}

.orientation {
  padding-top: 0rem;
}

.side-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left:1.5rem;
}

.side-text h3,
.side-text h4,
.side-text a {
  padding: 0.5rem;
  line-height: 1.7;
}

.side-text a {
  color: #0059b3;
}

@media only screen and (max-width: 760px) {

  .keep-practicing {
    display: none;
  }
}

/* Mobile-campus queries*/

@media only screen and (min-width: 760px) {
  .mobile-campus {
    display: none;
  }
}

@media only screen and (max-width: 760px) {
  .desktop-campus {
    display: none;
  }

  .campus-info {
    margin: 0;
  }

  .middle1 {
    display: block;
  }

  .mobile-campus {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .side-mobile {
    display: flex;
    flex-direction: column;
    width: fill;
    padding: 2rem 1rem;
  }

  .side-mobile img {
    width: 100%;
    height: auto;
  }

  .side-text-mobile {
    padding-left: 1rem;
    line-height: 1.7;
  }
}


/* Start Learning */

.middle-section {
  text-align: center;
  padding: 2rem 4.5rem;
  background-color: hsl(0, 0%, 90%);
}

.middle-section h1{
  padding-bottom: 2rem;
}

.images {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.image {
  background-color: white;
  width: 30%;
  height: auto;
  margin: 1rem;
}

.image img {
  width: 100%;
}

.image-text {
  text-align: left;
  line-height: 1.7;
  padding: 1rem 1rem 1.5rem 1rem;
}


/* Start learning mobile queries */

@media only screen and (min-width: 760px) {
  .middle-section-mobile {
    display: none;
  }
}

@media only screen and (max-width: 760px) {
  .middle-section {
    display: none;
  }

  .middle-section-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .learn-mobile-h1 {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  .learn-mobile {
    display: flex;
    justify-content: center;
    padding: 1rem 1rem 1.5rem 1rem;
    margin-bottom: 0.5rem;
    background-color: hsl(0, 0%, 85%);
  }
}


/* Bottom Section */

.bottom-section h1{
  text-align: center;
  padding: 2rem;
}

.bottom-container {
  display: flex;
  flex-direction: row;
  border-bottom: lightgrey solid 1px;
}

.video {
  padding: 0 1.5rem 1.5rem 1.5rem;
  width: 60%;
  line-height: inherit;
}
.video video{
  border: solid lightgrey 1px;
  width: 100%;
  margin-bottom: 1.5rem;
}

.video-text {
  line-height: 1.7;
}

.video-text h3 {
  margin-bottom: .5rem;
}

.side-section {
  width: 40%;
}

.fisma,
.now-then {
  display: flex;
  padding: 0 1rem 1rem 1rem;
}

.side-section img {
  width: 35%;
  height: 35%;
  margin: 1rem;
}

.side-section-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.4;
  width: 65%;
}


/* Bottom queries */



@media only screen and (max-width: 760px) {

  .video-text {
    display: none;
  }

  .side-section {
    display: none;
  }

  .bottom-section h1 {
    padding-bottom: 1rem;
  }

  .video {
    display: block;
    justify-content: center;
    height: auto;
    width: 100%;
    padding-bottom: 0;
  }
}

/* footer */

footer {
  padding: 1rem 1.5rem 2rem 1.5rem;
  display: flex;
  justify-content: space-between;
}

.terms a {
  margin: .5rem;
}
